@layout("/common/_container.html"){
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <!--dashboard start-->
            <div class="col-lg-9 col-sm-9">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
                        <ol class="breadcrumb">
                            <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                            <li><i class="fa fa-laptop"></i>Dashboard</li>
                        </ol>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="info-box blue-bg">
                            <i class="fa fa-cloud-download"></i>
                            <div class="count">6.674</div>
                            <div class="title">Download</div>
                        </div>
                        <!--/.info-box-->
                    </div>
                    <!--/.col-->

                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="info-box brown-bg">
                            <i class="fa fa-shopping-cart"></i>
                            <div class="count">7.538</div>
                            <div class="title">Purchased</div>
                        </div>
                        <!--/.info-box-->
                    </div>
                    <!--/.col-->

                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="info-box dark-bg">
                            <i class="fa fa-thumbs-o-up"></i>
                            <div class="count">4.362</div>
                            <div class="title">Order</div>
                        </div>
                        <!--/.info-box-->
                    </div>
                    <!--/.col-->

                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="info-box green-bg">
                            <i class="fa fa-cubes"></i>
                            <div class="count">1.426</div>
                            <div class="title">Stock</div>
                        </div>
                        <!--/.info-box-->
                    </div>
                    <!--/.col-->

                </div>
                <!--/.row-->
                <div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div id="line_reports" style="width: 600px;height:400px;"></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div id="bar_reports" style="width: 600px;height:400px;"></div>
                    </div>
                </div>
            </div>
            <!-- dashboard end -->
            <!-- dept start -->
            <div class="col-lg-3 col-sm-3">
                <!--
                    <div class="panel panel-default">
                        <div class="panel-heading">电站快捷选择 -Ztree</div>
                        <div class="panel-body dept-tree">
                            <ul id="deptTree" class="ztree"></ul>
                        </div>
                    </div>
                -->
                <div class="panel panel-default">
                    <div class="panel-heading">电站快捷选择</div>
                    <div class="panel-body dept-tree" id="deptTreeView"></div>
                </div>
            </div>
            <!-- dept end -->
        </div>
    </section>
    <script src="${ctxPath}/static/modular/system/dashboard/dashboard.js"></script>
    <script src="${ctxPath}/static/js/common/resize.bootstrap-treeview.js" type="text/javascript" ></script>
    <link rel="stylesheet" href="${ctxPath}/static/css/orgTree.css">
@}